.place-details {
    position: absolute;
    top: 35%;
    padding-left: 10%;
}

.place {
    font-size: 50px;
    font-weight: 700;
    color: #e2e2e2;
    letter-spacing: 4px;
}

.place-description {
    font-size: 16px;
    color: white;
    opacity: .8;
    margin-top: 2%;
    font-family: 'Raleway', sans-serif;
}


.place-details-btn {
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    position: relative;
    width: 100px;
}


.place-details-discover {
    border: 1px solid;
    text-align: center;
    width: 24px;
    border-radius: 50%;
    font-size: 16px;
}
