.viewport-slider {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.viewport {
    position: absolute;
    width: 100%;
    height: 100%;
}


.viewport-shrink {
    transform:  translate3d(0px, 400px, 0px);
    z-index: -1;
}

.viewport-ontop {
    z-index: 0;
}
