.place-details {
    position: relative;
    top: 30%;
    padding-left: 10%;
}

.place {
    font-size: 50px;
    font-weight: 700;
    color: #e2e2e2;
    letter-spacing: 4px;
}

.place-description {
    font-size: 16px;
    color: white;
    opacity: .8;
    margin-top: 2%;
    font-family: 'Raleway', sans-serif;
}
